body {
    margin: 0;
    padding: 0;
    background-color: #d1d1d1;
}

#toggle-button{
    display: none;
    padding: 4px 25px;
}

@media (max-width: 767px) {
    .toggle-button-wrap {
        display: block;
    }
}
